* {
  box-sizing: border-box;
}

/*base for rem units*/
html {
  font-size: 10px;
  height: 100%;
}

body {
  background-color: #fafafa;
}

section {
  text-align: center;
}

h1 {
  color: #555C6E;
  font-family: 'Fira Sans';
  font-size: 3rem;
  font-weight: 800;
  padding: 3rem 0 1.5rem 2rem;
  text-align: left;
}

h2 {
  color: #4f4f4f;
  font-family: 'Didact Gothic';
  font-size: 2.2rem;
  font-weight: lighter;
  line-height:3.5rem;
  padding: 0 2.3rem;
  text-align: left;
}

h3 {
  color: #555C6E;
  font-family: 'Fira Sans';
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.9rem;
  padding-bottom: 1.5rem;
}

h4 {
  color: #555C6E;
  font-family: 'Fira Sans';
  font-size: 2.4rem;
  font-weight: 800;
  padding-top: 4.5rem;
  padding-bottom: 1.5rem;
}


h5 {
  color: #555C6E;
  font-family: 'Fira Sans';
  font-size: 2rem;
  padding: 3rem 0;
}

h6 {
  color: #3B3B3B;
  font-family: 'Didact Gothic';
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: center;
}

p {
  color: #4f4f4f;
  font-family: 'Didact Gothic';
  font-size: 1.8rem;
  line-height: 2.8rem;
  padding: 0 3rem;
  text-align: left;
}

img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  padding: 4rem 0;
}

/*define grid area names*/
.navbar {
  grid-area: navbar;
}

.sidebar {
  display: none; /*hidden for mobile screens*/
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/*grid for mobile screens one column*/
.container-project1{
  display: grid;
  grid-template-areas:
  "navbar"
  "sidebar"
  "main"
  "footer";
}

.button {
  background-color: #2BAF9E;
  border-radius: 3rem;
  color: white;
  display: inline-block;
  font-family: 'Didact gothic';
  font-size: 1.8rem;
  margin-bottom: 5rem;
  padding: 2rem 6rem;
  text-decoration: none;
}

.button-styling {
  margin-top: 3rem;
}

.button:hover {
  background-color: #1E7D71;
}


/*spacing corrections*/
.tools, .final-thoughts {
  padding-bottom: 4rem;
}

.segment, .analysis-paragraph {
  padding-top: 2rem;
}

.testing, .prototype-preview {
  margin-top: 4rem;
}

/*image resizing*/
.persona-one, .persona-two,
.charts, .logos-mobile, .phonepic {
  max-width: 75%;
  margin: 0 auto;
}

.take-aways, .flow-image, .sketches,
.color-large, .typography {
  padding: 3rem 2rem;
}

/*text for user stories*/
.list-items {
  background-color: #EEEEEE;
  border-radius: .8rem;
  font-size:1.8rem;
  margin: 4rem 2rem;
  padding: 2rem 0;
  text-align: center;
}

.therashelf {
  background-color: #C8D8E8;
}


.responsibilities, .prototype-preview,
 .wireframe-images,.testing{
  background-color: #F3F6FA;
}

/*footer styling begins*/
footer {
  text-align: center;
  background-color: #555C6E;
}

footer h4 {
  color: white;
  font-family: 'Fira Sans';
}

footer p {
  color: white;
  text-align: center;
}

/*footer icon styling*/
.fa-linkedin, .fa-github-square,
.fa-envelope-square {
  color: #BFE3DB;
}

.footer ul {
  font-size: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.footer li {
  display: inline-block;
  margin-right: .7rem;
}

/*hidden for mobile screens*/
.wireframes-large,.prototype-image,
.logos-large, .desktop-testing {
  display: none;
  }

/*display on mobile screen*/
.color-small, .logos-mobile,
.revisions{
  display: block;
}

.wireframes-small,.prototype-image-small {
  display: block;
  padding: 3rem 2rem;
}

/*about page stying*/
.about-me p {
  padding-bottom: 2.3rem;
}

.inservice-photo {
  padding-bottom: 0;
}

.about-me h6 {
  font-size: 1.6rem;
  font-style: italic;
  padding: 1rem 0 4rem 0;
}

/*responsive navbar begins*/
.navbar {
  border-bottom: .1rem solid #F3F3F3;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #555C6E;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-decoration: none;
  padding: 2rem 3rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li,
.page-navigation li{
    list-style: none;
}

.navbar-links li a {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 2.2rem;
    display: block;
    text-decoration: none;
    color: #4f4f4f;
    padding-right: 3rem;
}

/*sidebar for page navigation*/
.page-navigation li a {
  color: #4f4f4f;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.7rem;
  text-decoration: none;
}

.navbar-links li a:hover {
    text-decoration: underline;
    text-decoration-color: #2BAF9E;
    text-decoration-thickness: .8rem;
}

.page-navigation li a:hover {
  color: #2BAF9E;
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 2rem;
}

/*hamburger menu*/
.bar {
    height: .4rem;
    width: 100%;
    background-color: #3B3B3B;
    border-radius: 2rem;
}

/*media query for responsive navbar*/
@media (max-width: 765px) {
.navbar {
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 3px 5px  rgba(0,0,0,.08);
}

.toggle-button {
  display: flex;
}

.navbar-links {
    display: none;
    width: 100%;
}

.navbar-links ul{
    width: 100%;
    flex-direction: column;
}

.navbar-links ul li {
    text-align: center;
}

.navbar-links ul li a {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 2.4rem;
    color: #3B3B3B;
    padding: 2rem 1rem;
}

.navbar-links.active {
    display: flex;
    background-color: #EDF1F4;
  }
}

/*media queries begin for tablet*/
@media (min-width:768px) {

/* sticky sidebar*/
.sidebar {
  background-color: #fafafa;
  display: flex;
  height: 100vh;
  margin-bottom: 20.8rem;
  padding-top: 3rem;
  padding-left: 4rem;
  position: sticky;
  top:0;
}

.page-navigation li {
  display: block;
  text-align: left;
}

.therashelf p {
  font-size: 2rem;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

h3 {
  font-size: 3.8rem;
}

h4 {
  font-size: 3rem;
  padding-top: 6rem;
}

h5 {
  font-size: 2.2rem;
  padding-top: 4rem;
}

p {
  font-size: 2rem;
  line-height: 3.1rem;
  padding: 0 4.5rem;
}

img {
  padding: 6rem 0;
}

.footer h4 {
  padding: 3rem;
}

/*grid for hero homepage (tablet)*/
.hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 5rem 0;
}

.intro {
  grid-column: 1/8;
  padding-left: 5rem;
}

.hero-image {
  grid-column: 8/12;
  width: 100%;
}

/*grid for project1 intro (tablet)*/
.therashelf {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 5rem 0;
  width: 100%;
}

.overview{
  grid-column: 2/8;
  text-align: left;
}

.overview p {
  font-size: 2.4rem;
  line-height: 3.8rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
}

.overview h3 {
  font-size: 3.4rem;
}

.phonepic {
  grid-column: 8/13;
  grid-row: 1/5;
  max-width: 80%;
}

.button {
  font-size: 2.2rem;
  grid-column: 2/7;
}

/*grid for project1 (tablet)*/
.container-project1 {
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
  "navbar navbar"
  "sidebar main"
  "footer footer";
}

/*subgrid for responsbilities section*/
.responsibilities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.myrole {
  grid-column: 1;
}

.deliverables {
  grid-column: 2;
  padding: 0;
}

.tools {
  grid-column: 3;
  padding: 0;
}

.deliverables {
  padding-bottom: 6rem;
}

/*subgrid for personas*/
.personas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 0;
}

.intro-content {
  grid-column: 1/3;
  grid-row: 1;
}

.persona-one {
  grid-column: 1;
  grid-row: 2;
  padding-bottom: 0;
}

.persona-two {
  grid-column: 2;
  grid-row: 2;
}

.wireframes-large, .desktop-testing,
.logos-large{
  display: block;
  padding-left: 4rem;
  padding-right: 4rem;
}


/*hide images on mobile screen*/
.wireframes-small, .color-small, .prototype-image-small,
.logos-mobile, .revisions {
  display: none;
}

/*testing item resizing*/
.list-items {
  background-color: #EEEEEE;
  margin: 3rem 4rem;
  padding: 2rem 0;
}

.list-items p {
  font-size: 2rem;
}

/*image resizing for projects*/
.color-large,.sketches,
.flow-image{
  margin: 0 auto;
  width: 85%;
}

.segment {
  padding-top: 5rem;
}

/*spacing for about page*/
.about-me {
  padding: 0 5rem 3rem 05rem;
}

.about-me h3 {
  padding-bottom: 4rem;
}

.inservice-photo {
  width: 60%;
}

/*increase icon size on footer*/
ul {
  font-size: 5rem;
  text-align: center;
  }
}

.footer h4 {
  padding-bottom: 1.5rem;
}

/*media query for desktop*/
@media (min-width:1280px) {

section {
  text-align: center;
}

h1 {
  font-size: 4.8rem;
  text-align: left;
}

h2 {
  color: #4f4f4f;
  font-size: 3rem;
  line-height: 4.6rem;
  text-align: left;
}

h3 {
  font-size: 4.2rem;
}

h4 {
  font-size: 2.8rem;
}

p {
  padding: 0 11rem;
}

.logo {
  font-size: 2.5rem;
}

.therashelf p {
  font-size: 2.7rem;
  line-height: 4rem;
  text-align: left;
}

/*grid for hero homepage (desktop)*/
.hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 8rem;
}

.intro {
  grid-column: 1/8;
  padding-left: 5rem;
}

.hero-image {
  grid-column: 8/12;
  width: 100%;
}

/*grid for project1 intro (desktop)*/
.therashelf {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 8rem;
  width: 100%;
}

.overview{
  grid-column: 2/8;
  padding-top: 4rem;
}

.overview p {
  font-size: 2.8rem;
  line-height: 3.8rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
}

.overview h3 {
  font-size: 4.2rem;
  padding: 1.5rem 0;
}

.overview h4 {
  font-size: 3.5rem;
}

.phonepic {
  grid-column: 8/13;
  grid-row: 1/5;
}

.button {
  font-size: 2.2rem;
  grid-column: 2/5;
}

footer p {
  font-size: 2rem;
}

/*project 1 desktop*/

/*resizing*/
.flow-image, .take-aways,
.sketches, .wireframes-large  {
  display: block;
  margin: 0 auto;
  max-width: 70%;
}

.charts, .persona-one, .persona-two {
  margin: 0 auto;
  max-width: 40%;
}

/*testing item resizing*/
.list-items {
  background-color: #EEEEEE;
  margin: 5rem 15rem;
}

/*increase icon size on footer large screens*/
ul {
  font-size: 7rem;
  text-align: center;
  }

/*about page styling desktop*/
.about-me {
  padding: 0 10rem 4rem 10rem;
}

.inservice-photo {
  width: 60%;
  }
}
