* {
  box-sizing: border-box;
}

/*base for rem units*/
html {
  font-size: 10px;
  height: 100%;
}

body {
  justify-content: center;
}

h1 {
  color: #3D4361;
  font-family: 'Fira Sans';
  font-size: 3rem;
  font-weight: 800;
  padding-top: 4rem;
}

h2 {
  color: #303240;
  font-family: 'Didact Gothic';
  font-size: 2.2rem;
  font-weight: lighter;
  line-height:3.5rem;
  padding-top: 2rem;
}

h3 {
  color: #3D4361;
  font-family: 'Inter', sans-serif;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 3.9rem;
  padding-top: 2rem;
}

h4 {
  color: #3D4361;
  font-family: 'Inter', sans-serif;
  font-size: 2.2rem;
  font-weight: 800;
  padding-top: 3rem;
}


h5 {
  color: #3D4361;
  font-family: 'Inter', sans-serif;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 2.9rem;
  padding-top: 3rem;
}

h6 {
  color: #303240;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
}

p {
  color: #303240;
  font-family: 'Inter', sans-serif;
  font-size: 1.9rem;
  line-height: 2.9rem;
  padding-top: 2rem;
}

img, video, figure {
  display: block;
  margin: 0 auto;
  padding-top: 3rem;
  max-width: 100%;
}

figcaption {
  color: gray;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  padding-top: 2rem;
  text-align: center;
}

ol {
  color: #303240;
  font-family: 'Inter', sans-serif;
  font-size: 1.9rem;
  line-height: 2.9rem;
  padding-top: 2rem;
}

footer {
  display: grid;
}

footer p {
  font-size: 1.5rem;
  padding: 2rem 0 2rem 0;
}

.footer li {
  padding: 2.5rem 0 2rem .2rem;
}

footer {
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
  "copyright links";
}

hr {
  border: .2rem solid #1DA373;
  width: 30%;
}

.container-home, .container-project1,
.container-project2, .container-project2b {
  padding: 0 3rem 0 3rem;
}

.casestudy-overview h4, .casestudy-overview {
  text-align: center;
  padding-left: 0;
}

.overview {
  text-align: center;
}

.overview p {
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

/*define grid areas*/
.navbar {
  grid-area: navbar;
}

.main {
  grid-area: main;
}

.hero {
  grid-area: hero;
}

.therashelf{
  grid-area: therashelf;
}

.catalyst {
  grid-area: catalyst;
}

.footer {
  grid-area: footer;
}

.copyright {
  grid-area: copyright;
}

.footer-icon {
  grid-area: links;
}

/*center buttons all screens*/
.button{
  display: block;
  text-align: center;
}

.button-styling{
  background-color: #2BAF9E;
  border-radius: 3rem;
  color: white;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  margin: 3rem 0;
  padding: 2rem 6rem;
  text-decoration: none;
}

.button-styling-catalyst{
  background-color: #1DA373;
  border-radius: 3rem;
  color: white;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  margin: 3rem 0;
  padding: 2rem 6rem;
  text-decoration: none;
}

.button-styling:hover {
  background-color: #1E7D71;
}

.button-styling-catalyst:hover {
  background-color: #97D5BF;
}

/*user stories, testing items*/
.list-items li {
  color: #303240;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-left: 3rem;
  padding-top: 2rem;
  text-align: left;
}

/*background color changes*/
.therashelf-project {
  background-color: #D5E7FE;
}

.catalyst-intro {
  background-color: #C7E8DC;
  margin-top: 5rem;
}

.catalyst-project {
  background-color: #C7E8DC;
  margin-bottom: 5rem;
}

.final-prototype{
    background-color: #C7E8DC;
}

.prototype-preview {
  background-color: #DCE7F2;
}

.responsibilities{
  text-align: center;
}

.closing-para, .conclusion {
  padding-bottom: 3.5rem;
}

.hero-image {
  padding-bottom: 3rem;
}

/*footer styling begins*/
.links {
  text-align: center;
}

/*footer icon styling*/
.fa-linkedin-in, .fa-github,
.fa-envelope {
  color: #B1B4C0;
}

.fa-linkedin-in:hover, .fa-github:hover,
.fa-envelope:hover {
  color: #5A71C9;
}

/*link icon size*/
 .hero li {
   font-size: 2.5rem;
   padding: 2rem 1rem 3rem 0;
 }

.footer ul {
  font-size: 2rem;
}

.footer li, .hero li {
  display: inline-block;
}

/*hidden for mobile screens*/
.logos-large {
  display: none;
}

/*display on mobile screen*/
.logos-mobile {
  display: block;
}

/*responsive navbar begins*/
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.navbar-catalyst{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  color: #3D4361;
  display: block;
  font-family: 'Inter', sans-serif;
  font-size: 2.2rem;
  padding-left: 3rem;
  padding-top: 3rem;
  text-decoration: none;
}

.navbar-links li a:hover {
  color: #5A71C9;
}

.toggle-button {
  display: none;
  flex-direction: column;
  height: 2rem;
  justify-content: space-between;
  position: absolute;
  right: 3rem;
  top: 4.4rem;
  width: 3rem;
}

/*hamburger menu*/
.bar {
  background-color: #3B3B3B;
  border-radius: 2rem;
  height: .4rem;
  width: 100%;
}

/*styling for project preview*/
.therashelf-project, .catalyst-project {
  position: relative;
}

.therashelf-screens {
  max-width: 50%;
}

.catalyst-screens {
  max-width: 60%;
  padding-bottom: 4rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #428EFC;
}

.overlay-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1DA373;
}

.therashelf-project:hover .overlay,
.catalyst-project:hover .overlay-2{
  opacity: .95;
}

.text {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1.9rem;
  line-height: 2.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.catalyst-intro {
  padding: 0;
  margin-top: 0;
}

.catalyst-preview {
  max-width: 85%;
  margin: 0 auto;
  padding-bottom: 4rem;
  padding-top: 2.5rem;
}

/*media query for responsive navbar*/
@media (max-width: 765px) {
.navbar {
  flex-direction: column;
  align-items: flex-start;
}

.navbar-catalyst {
  background-color: #C7E8DC;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 3rem 0 3rem;
}

.toggle-button {
  display: flex;
}

.navbar-links {
  display: none;
  width: 100%;
}

.navbar-links ul{
  flex-direction: column;
  width: 100%;
}

.navbar-links ul li {
  text-align: center;
}

.navbar-links ul li a {
  color: #3B3B3B;
  font-family: 'Inter', sans-serif;
  font-size: 2.4rem;
  padding: 2rem 1rem;
}

.navbar-links.active {
  display: flex;
  }
}

/*media queries begin for tablet*/
@media (min-width:768px) {

body {
  width: 100%;
  justify-content: center;
}

h1 {
  font-size: 3.8rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  padding: 4rem 9rem;
}

h3 {
  font-size: 3.8rem;
  padding-top: 3rem;
}

h4 {
  font-size: 3.2rem;
  padding-top: 5rem;
}

h5 {
  font-size: 2.4rem;
  line-height: 3.6rem;
  padding-top: 4rem;
}

p {
  padding-top: 3rem;
  line-height: 3.2rem;
}

figure, img, video{
  padding-top: 3rem;
}

.navbar-catalyst {
  background-color: #C7E8DC;
  padding: 0 6rem 0rem 6rem;
}

footer {
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
  "copyright links";
}

.container-home, .container-project1,
.container-project2, .container-project2b {
  padding: 0 6rem 0 6rem;
}

.overview {
  margin-top: 3rem;
}

.catalyst-preview {
  max-width: 75%;
  margin: 0 auto;
  padding-bottom: 4rem;
  padding-top: 1.5rem;
}

/*resizing for responsibilities section*/
.responsibilities h6 {
  padding-top: .8rem;
  margin-right: 0;
}

.responsibilities h4 {
  font-size: 2.4rem;
}

.list-items li {
  font-size: 2.1rem;
  margin-left: 5rem;
}

/*social media links*/
.hero li {
  font-size: 3rem;
  padding-left: 1.5rem;
}

.footer li {
  font-size: 3rem;
  padding: 3rem 0 3rem 1rem;
}

ol li {
  font-size: 1.9rem;
  margin-left: 5rem;
  padding-top: 2rem;
}

/*hero homepage (tablet)*/
.catalyst-intro {
  padding: 0;
  margin-top: 0;
}

.hero {
  padding: 8rem 0;
}

.hero h1 {
  padding-top: 0;
}

/*subgrid for responsbilities section*/
.responsibilities {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(3, 1fr);
}

.myrole {
  grid-column: 1;
}

.deliverables {
  grid-column: 2;
}

.tools {
  grid-column: 3;
  padding-left: 2rem;
}

.logos-large{
  display: block;
  padding-bottom: 2rem;
}

/*hide image from mobile screen*/
.logos-mobile {
  display: none;
}

/*image resizing for projects*/
.color-large, .flow-image,
.take-aways, .charts,
.revisions {
  max-width: 85%;
}

.final-prototype {
  margin-top: 5rem;
}

.text {
  font-style: 2.5rem;
}
}

/*media query for desktop*/
@media (min-width:1280px) {

/*spacing correction for intro page*/
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  line-height: 4.6rem;
  padding: 4rem 15rem 0 15rem;
}

h4 {
  padding-top: 8rem;
  padding-left: 13rem;
}

h5 {
  padding-left: 13rem;
  padding-top: 0;
}

p {
  font-size: 2.1rem;
  line-height: 3.5rem;
  padding: 3rem 13rem;
}

ol {
  font-size: 2.1rem;
  line-height: 3.2rem;
  padding-top: 0;
  padding-left: 9rem;
}

.navbar-catalyst {
  background-color: #C7E8DC;
  padding: 0 13rem 0 13rem;
}

footer p {
  font-size: 1.9rem;
  padding: 5rem 0 0 0;
}

video {
  padding: 4rem 0 4rem 0;
}

.container-home, .container-project1,
.container-project2, .container-project2b {
  padding: 0 13rem 0 13rem;
}

.overview {
  margin-top: 4rem;
}

.final-design h4 {
  padding-top: 0;
}

.text {
  font-size: 2.8rem;
  line-height: 3.8rem;
}

.myrole h4, .deliverables h4, .tools h4 {
  padding-left: 0;
  padding-bottom: 2rem;
}

.list-items li {
  padding-left: 10rem;
}
/*social media links*/
.links {
  padding-top: 5rem;
}

.hero li {
  font-size: 4rem;
  padding-left: 2.5rem;
  padding-top: 0;
}

.footer li {
  padding: 6rem 0 5rem 1rem;
}

.overview p
 {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.final-prototype {
  margin-top: 5rem;
}

/*grid for hero section homepage (desktop)*/
.hero {
  padding: 15rem 0 5rem 0;
}

.button-styling {
  margin-top: 5rem;
}

.user-testing figure {
  padding-bottom: 9rem;
}

.prototyping h4 {
  padding-top: 0;
}

/*grid for footers*/
footer {
  grid-template-columns: 7fr 1fr;
  grid-template-areas:
  "copyright links";
}

/*image resizing for desktop*/
.charts, .personas-img{
  max-width: 70%;
}

.catalyst-preview {
  max-width: 50%;
  margin: 0 auto;
  padding-bottom: 5rem;
  padding-top: 1rem;
}

/*resizing for catalyst*/
.mockups figure, .catalyst-final, .quiz-sizing{
  max-width: 75%;
  margin: 0 auto;
}

.quiz-sizing, .image-sizing{
  padding-bottom: 5rem;
}

.solution figure {
  padding: 0;
}

}
