* {
  box-sizing: border-box;
}

/*base for rem units*/
html {
  font-size: 10px;
  height: 100%;
}

body{
  height: 100%;
  width: 100%;
}

a{
  text-decoration: none;
}

h1 {
  color: #1D1E21;
  font-family: 'Inter', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  margin-left: 3rem;
  padding-top: 5rem;
}


h4 {
  color: #1D1E21;
  font-family: 'Inter', sans-serif;
  font-size: 2.1rem;
  font-weight: 800;
  margin: 6rem 0 0 3rem;
}

h5 {
  color: #1D1E21;
  font-family: 'Inter', sans-serif;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 2.9rem;
  margin: 3rem 0 0 3rem;
}

h6 {
  color: #1D1E21;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
}

figcaption{
  color: #8E8E90;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  margin-top: 3rem;
  text-align: center;
}

.logo img{
  display: inline-block;
  margin: 0;
  padding: 1rem 0 0 0;
  transition: .7s ease;
}

img, figure, video {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  padding-top: 3rem;
}

ol {
  color: #303240;
  font-family: 'Inter', sans-serif;
  font-size: 1.9rem;
  line-height: 2.9rem;
}

p {
  color: #0A1417;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  line-height: 2.9rem;
  margin: 2rem 3rem 0 3rem;
}

ol {
  color: #303240;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  line-height: 2.9rem;
  padding-left: 3rem;
}

ol li {
  padding-top: 2rem;
}

/*project styling homepage mobile*/
.introduction{
  padding: 12rem 3rem 2rem 3rem;
}

.introduction h1{
  color: #FEFEFE;
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 3.8rem;
  margin: 0;
  padding: 0;
}

/*down chevron icon homepage mobile*/
.introduction i{
  display: block;
  font-size: 2.8rem;
  margin-top: 14rem;
  text-align: center;
  width: 100%;
}

.fa-chevron-down:hover{
  animation: bounce 1.2s ease infinite;
}

@keyframes bounce {
  0%, 25%, 55%, 75%, 100%{
    transform: translateY(0);
  }
  45%{
    transform: translateY(-12px);
  }
  65%{
    transform: translateY(-10px);
  }
  85%{
    transform: translateY(-3px);
  }
}

.container{
  margin: 4rem 3rem 5rem 3rem;
}

.container-two{
  margin: 3rem;
}

.project-background {
  background-color: #F5F5F7;
}

.project-title h5{
  color: #0A1417;
  font-weight: 400;
  margin: 1rem 0 0 0;
}

.project-title p{
  font-size: 1.6rem;
  font-weight: 300;
  color: #0A1417;
  margin: 0;
}

.therashelf-img, .catalyst-img{
  padding: 2rem 0;
}

.catalyst-background{
  background-repeat: no-repeat;
  background-image: url('../images/background.png');
  background-size: auto 100%;
}

.catalyst-background img{
  padding-top: 8rem;
  padding-bottom: 2rem;
}

/*background color changes*/
.insights, .therashelf-insights,
.about-me, .introduction, footer{
  background-color: #1D1E21;
}

.user-interface{
  background-color: #F5F6FA;
}

.solution-forwardhealth {
  background-color: #FCFBFB;
}

.user-flows {
  margin: 0;
  padding-bottom: 6rem
}

.user-flows h4, .therashelf-insights h4, .user-testing h4, .personas h4,
.solution-forwardhealth h4, .user-interface h4{
  margin-top: 0;
  padding-top: 6rem;
}

.therashelf-insights{
  margin-top: 3rem;
  padding-bottom: 6rem;
}

.personas, .user-testing{
  background-color: #FAFAFA;
}

.interface{
  max-width: 98%;
}

.forward-vid-mobile{
  display: block;
}

.forward-vid{
  display: none;
}

/*define grid areas*/
.persona-grid{
  display: grid;
  margin: 0 2rem;
  grid-template: 1fr;
  grid-template-areas:
  "persona-one"
  "persona-two";
}

.persona-one{
  grid-area: persona-one;
}

.persona-two{
  grid-area: persona-two;
  padding-bottom: 5rem;
}

/*grids for mobile catalyst*/
.insights{
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "title"
  "insight-one"
  "insight-two"
  "insight-three";
}

.insight-title{
  grid-area: title;
}

.insight-one{
  grid-area: insight-one;
}

.insight-two{
  grid-area: insight-two;
}

.insight-three{
  grid-area: insight-three;
  padding-bottom: 4rem;
}

.insights h1, .therashelf-insights h1, .inservice {
  color: #8E8E90;
}

.insights p, .therashelf-insights p, .about-me p {
  color: #FEFEFE;
}

.insights h4, .therashelf-insights h4, .about-me h4 {
  color: #FEFEFE;
}

/*sketches background health mobile*/
.sketches-forwardhealth{
    background-repeat: no-repeat;
    background-image: url('../images/sketches-forwardhealth.png');
    margin-top: 9rem;
    padding: 12rem 0;
  }

.sketches{
    background-repeat: no-repeat;
    background-image: url('../images/sketches-catalyst.png');
    margin-top: 9rem;
    padding: 12rem 0;
  }

  .sketches-content{
    background-color: hsla(0, 0%, 100%, 0.9);
    padding: 5rem;
  }

  .sketches-content h4{
    margin: 0 0 0 3rem;
  }

.solution-one {
  display: grid;
  margin-top: 4rem;
  grid-template-columns: 1fr;
  grid-template-areas:
  "solution-text"
  "video-one";
}

.solution-text{
  grid-area: solution-text;
}

.solution-onevid{
  grid-area: video-one;
}

.solution-two{
  background-color: #F7F7F8;
  margin-top: 4rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "solution-text-two"
  "video-two";
}

.solution-text-two{
  grid-area: solution-text-two;
}

.solution-twovid{
  grid-area: video-two;
}

.solution-three{
  display: grid;
  margin-top: 4rem;
  grid-template-columns: 1fr;
  grid-template-areas:
  "solution-text-three"
  "video-three";
}

.solution-text-three{
  grid-area: solution-text-three;
}

.solution-threevid{
  grid-area: video-three;
}

/*centers buttons all screens*/
.button{
  display: block;
  text-align: center;
}

.button-styling{
  background-color: #2BAF9E;
  border-radius: 3rem;
  color: white;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  margin: 5rem 0;
  padding: 2rem 6rem;
  text-decoration: none;
}

.button-styling-catalyst{
  background-color: #1DA373;
  border-radius: 3rem;
  color: white;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  margin: 3rem 0;
  padding: 2rem 6rem;
  text-decoration: none;
}

.button-styling-homepage{
  border-radius: 3rem;
  border: .1rem solid #303240;
  color:#303240;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  margin-top: 5rem;
  margin-left: 10rem;
  padding: 1.3rem 6rem;
  text-decoration: none;
}

.button-styling:hover {
  background-color: #1E7D71;
}

.button-styling-catalyst:hover {
  background-color: #17815B;
}

.button-styling-homepage:hover{
  color: white;
  background-color: #5A71C9;
  border: .1rem solid #5A71C9;
}

.therashelf-solution {
  max-width: 60%;
}

.wireframe-group{
  margin-top: 4rem;
  padding-bottom: 4rem;
}

.wireframe-group img{
  max-width: 80%;
}

.interface{
  margin-right: 0;
  padding-right: 0;
}

.personas, .solution-forwardhealth{
  margin-top: 9rem;
}

.solution-forwardhealth{
  padding-bottom: 9rem;
}

.user-interface{
  margin-top: 9rem;
  padding-bottom: 9rem;
}

/*footer styling mobile*/
.fa-linkedin, .fa-github-square,
.fa-envelope-square, .fa-chevron-down {
  color: #8E8E90;
}

.fa-linkedin:hover, .fa-github-square:hover,
.fa-envelope-square:hover {
  color: #FEFEFE;
}

footer{
  padding: 3.2rem 0;
  margin-top: 5rem;
  text-align: center;
}

footer h4{
  color: #FAFAFA;
  margin: 0;
}

footer p {
  color: #FAFAFA;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1.5rem;
}

footer ul {
  font-size: 3rem;
}

footer li {
  display: inline-block;
  margin-left: 1rem;
  margin-top: 1.5rem;
 }

/*responsive nav*/
nav {
  background-color: #1D1E21;
  top: 0;
  max-width: 100%;
  padding-left: 2rem;
  padding-top: 2rem;
}

.casestudy{
  background-color: white;
}

.menu {   /*links on right sides*/
  position: relative;
  float: right;
  list-style-type: none;
  transition: top 0.5s;
}

.menu-casestudy {   /*links on right sides*/
  position: relative;
  float: right;
  list-style-type: none;
  transition: top 0.5s;
}

.menu li {
  display: inline;
  cursor: pointer;
}

.menu-casestudy li {
  display: inline;
  cursor: pointer;
}

.menu li a {
  color: #8E8E90;
  font-family: 'Inter', sans-serif;
  font-size: 1.7rem;
  text-decoration: none;
}

.menu-casestudy li a {
  color: #8E8E90;
  font-family: 'Inter', sans-serif;
  font-size: 1.7rem;
  text-decoration: none;
}

.menu li a:hover{
  color: #FEFEFE;
}

.menu-casestudy li a:hover{
  color: #1D1E21;
}

.menu li::before {
  position: absolute;
  bottom: -6px;
  content: "";
  height: 3px;
  width: 0;
  transition: 0.5s;
}

.menu-casestudy li::before {
  position: absolute;
  bottom: -6px;
  content: "";
  height: 3px;
  width: 0;
  transition: 0.5s;
}

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

nav label { /*hamburger menu*/
  position: absolute;
  display: none;
  margin-top: 5rem;
  margin-right: 3rem;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
}

nav > label > span { /*hamburger menu bars*/
  display: block;
  margin-bottom: .4rem;
  height: 4px;
  width: 22px;
  border-radius: 1px;
  background: #7D7D7D;
  transition: 0.3s;
}

input[type=checkbox]:checked ~ .menu {
  top: 0;
}

input[type=checkbox]:checked ~ .menu-casestudy {
  top: 0;
}

input[type=checkbox]:checked ~ label span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

input[type=checkbox]:checked ~ label span:nth-child(2) {
  opacity: 0;
}

input[type=checkbox]:checked ~ label span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 768px) {
  .menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 10rem;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100%;
    background: white;
  }

  .menu li {
    margin-bottom: 5rem;
    font-size: 1.7rem;
  }

  .menu-casestudy {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 10rem;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100%;
    background: white;
  }

  .menu-casestudy li {
    margin-bottom: 5rem;
    font-size: 1.7rem;
  }

  nav label { /*hamburger menu*/
    display: block;
  }
}

/*media queries begin for tablet*/
@media (min-width:768px) {
  h1{
    font-size: 5rem;
    margin-left: 18rem;
    padding-top: 9rem;
  }

  h4 {
    font-size: 2.4rem;
    margin: 10rem 0 0 18rem;
  }

  h5{
    font-size: 2.2rem;
    margin: 4rem 0 0 10rem;
  }

  figcaption{
    font-size: 1.9rem;
  }

  p{
    font-size: 1.9rem;
    line-height: 3.2rem;
    margin: 3rem 18rem 0 18rem;
  }

  ol{
    margin-left: 10rem;
  }

  ol li {
    padding-top: 2rem;
  }

  img{
    padding-top: 9rem;
  }

  nav{
    padding-left: 8rem;
    padding-top: 2.2rem;
  }

  .menu {
    margin-right: 8rem;
    margin-top: 2.5rem;
  }

  .menu li {
    padding-left: 2rem;
  }

  .menu-casestudy {
    margin-right: 8rem;
    margin-top: 2.5rem;
  }

  .menu-casestudy li {
    padding-left: 2rem;
  }

  /*project styling homepage tablet*/
  .container {
    margin: 8rem 10rem 5rem 10rem;
    transition: .7s ease;
  }

  .container-two {
    margin: 0 10rem;
    transition: .7s ease;
  }

  .container:hover, .container-two:hover, .logo img:hover{
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  transition: .7s ease;
}

.introduction{
  padding: 12rem 10rem 2rem 10rem;
}

.introduction h1{
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 5.7rem;
  margin: 0;
  padding: 0;
}

.catalyst-background{
  background-repeat: no-repeat;
  background-image: url('../images/background.png');
  background-size: 100% auto;
}

  .catalyst-img, .therashelf-img{
    max-width: 70%;
    padding: 3.3rem 0;
  }

  .catalyst-background img{
   max-width: 50%;
   padding-top: 8rem;
 }

  .sketches-content{
    background-color: hsla(0, 0%, 100%, 0.95);
  }

/*define grid areas*/
.persona-grid{
  display: grid;
  margin: 0 8rem;
  grid-column-gap: 2rem;
  grid-template: 1fr 1fr;
  grid-template-areas:
  "persona-one persona-two";
}

.persona-one{
  padding-bottom: 9rem;
}

.intro{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "intro intro"
  "roles responsibilities";
  }

  .intro-content{
    grid-area: intro;
  }

  .roles{
    grid-area: roles;
  }

  .responsbilities{
    grid-area: responsibilities;
  }

  .roles h5 {
    margin: 0;
    padding: 3rem 0 1rem 18rem;
  }

  .responsibilities h5 {
    margin: 0;
    padding: 3rem 0 1rem 0;
  }

   .roles p {
    margin: 0;
    padding-left: 18rem;
  }

  .responsibilities p{
    margin: 0;
    padding: 0;
  }

  .forward-vid-mobile{
    display: none;
  }

  .forward-vid{
    display: block;
  }

  /*catalyst insights tablet*/
  .insights{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-template-areas:
    "title title ."
    "insight-one insight-two insight-three";
  }

  .insight-title{
    grid-area: title;
  }

  .insight-one{
    grid-area: insight-one;
    margin-left: 10rem;
  }

  .insight-two{
    grid-area: insight-two;
    margin-left: 3rem;
  }

  .insight-three{
    grid-area: insight-three;
    padding-bottom: 0;
    margin-right: 3rem;
  }

  /*grid for therashelf revisions tablet*/
  .revisions-grid{
    align-items: center;
    display: grid;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "revisions-one revisions-img"
    "revisions-img-two revisions-two"
    "revisions-three revisions-img-three";
  }

  .revisions-one{
    grid-area: revisions-one;
  }

  .revisions-img{
    grid-area: revisions-img;
  }

  .revisions-two{
    grid-area: revisions-two;
  }

  .revisions-img-two{
    grid-area: revisions-img-two;
  }

  .revisions-three{
    grid-area: revisions-three;
  }

  .revisions-img-three{
    grid-area: revisions-img-three;
  }

  /*grid for catalyst solutions tablet*/
  .solution-one {
    align-items: center;
    display: grid;
    margin-top: 9rem;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "solution-text video-one";
  }

  .solution-text{
    grid-area: solution-text;
  }

  .solution-text p, .solution-text-two p,
  .solution-text-three p{
    margin-right: 8rem;
  }

  .solution-onevid{
    grid-area: video-one;
    margin: 0 4rem 0 0;
  }

  .solution-two{
    align-items: center;
    background-color: #F7F7F8;
    margin-top: 9rem;
    padding-bottom: 8rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "solution-text-two video-two";
  }

  .solution-text-two{
    grid-area: solution-text-two;
    margin-top: 10rem;
  }

  .solution-twovid{
    grid-area: video-two;
    margin: 8rem 4rem 0 0;
  }

  .solution-three{
    align-items: center;
    display: grid;
    margin-top: 9rem;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "solution-text-three video-three";
  }

  .solution-text-three{
    grid-area: solution-text-three;
  }

  .solution-threevid{
    grid-area: video-three;
    margin-right: 4rem;
  }

  /*resizing tablet*/
  .insights{
    padding: 8rem 0 8rem 0;
    margin-top: 9rem;
  }

  .insights h1 {
    font-size: 4.5rem;
    margin:0;
    padding: 0;
  }

  .therashelf-insights h1{
    padding-top: 5rem;
  }

  .therashelf-insights{
    padding-bottom: 9rem;
  }

  .insights p {
    font-size: 1.8rem;
    margin: 3rem 0 8rem 0;
  }

  .insights h4{
    margin: 8rem 0 0 10rem;
    padding-bottom: 7rem;
  }

  .therashelf-insights h4{
    padding-top: 8rem;
    margin-top: 5rem;
  }

  /*image resizing for tablet*/
   .personas-img {
    max-width: 60%;
  }

  .flow-image{
    max-width: 70%;
  }

  .wireframe-group{
    margin-top: 8rem;
    padding-bottom: 8rem;
  }

  /*footer styling tablet*/
  footer{
    margin-top: 8rem;
  }

  footer p{
    font-size: 1.7rem;
    margin-top: 2rem;
  }

  footer ul {
    font-size: 3.2rem;
    margin-top: 2rem;
  }
}

/*media query for desktop*/
@media (min-width:1280px) {
  h1{
    margin-left: 30rem;
  }

  h4 {
    margin: 9rem 0 0 30rem;
  }

  h5{
    margin: 4rem 0 0 30rem;
  }

  p{
    margin: 3rem 32rem 0 30rem;
  }

  ol{
    margin-left: 23rem;
    font-size: 2rem;
  }

  /*project styling homepage desktop*/
  .introduction{
    padding: 13rem 20rem 2rem 20rem;
  }

  .introduction i{
    margin-top: 17rem;
  }

  .container{
    margin: 10rem 25rem 8rem 25rem;
  }

  .container-two{
    margin: 0 25rem 5rem 25rem;
  }

  .catalyst-background img{
    padding-bottom: 3rem;
  }

  .roles h5 {
    padding-left: 30rem;
  }

  .roles p {
    margin: 0;
    padding-left: 30rem;
  }

  .user-flows h4, .user-testing h4, .personas h4,
  .solution-forwardhealth h4, .user-interface h4{
    margin-top: 0;
    padding-top: 9rem;
  }

  .insights{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    width: 100%;
    grid-template-areas:
    "title title ."
    "insight-one insight-two insight-three";
  }

  .insights{
    padding: 8rem 0 8rem 0;
    margin-top: 9rem;
  }

  .insight-one{
    grid-area: insight-one;
    margin-left: 25rem;
  }

  .insight-two{
    grid-area: insight-two;
    margin-left: 0;
  }

  .insight-three{
    grid-area: insight-three;
  }

  .insights h1 {
    margin:0;
    padding: 0;
  }

  .insights p {
    margin: 3rem 0 8rem 0;
  }

  .insights h4 {
    margin-left: 25rem;
  }

  /*sketches background health tablet*/
  .sketches-forwardhealth{
      margin-top: 9rem;
      padding: 20rem 0;
    }

  .sketches{
      margin-top: 9rem;
      padding: 20rem 0;
    }

  .sketches-content{
    background-color: hsla(0, 0%, 100%, 0.9);
    padding: 10rem;
    margin-left: 15rem;
    margin-right: 15rem;
  }

  .sketches-content h4{
    margin: 0 0 0 6rem;
  }

  .sketches-content p{
    margin: 3rem 8rem 0 6rem;
  }

  .persona-grid{
    margin: 0 15rem;
    grid-column-gap: 0;
  }

  .testing-grid{
    grid-row-gap: 3rem;
    margin: 0 20rem 0 25rem;
    padding: 8rem 0;
  }

  .revisions-one p, .revisions-two p,
  .revisions-three p{
    margin-right: 0;
  }

  .solution-onevid, .solution-twovid,
  .solution-threevid{
    margin-right: 50rem;
  }

  .dashboard .rev-img, .patient-chart .rev-img,
  .documents .rev-img, .calendar .rev-img{
    max-width: 75%;
  }
}
