* {
  box-sizing: border-box;
}

/*base for rem units*/
html {
  font-size: 10px;
}

body {
  background-color: #fafafa;
}

section {
  padding: 3.2rem;
  text-align: center;
}

h1 {
  color: #555C6E;
  font-family: 'Fira Sans';
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
  text-align: left;
}

h2 {
  color: #4f4f4f;
  font-family: 'Didact Gothic';
  font-size: 2.2rem;
  font-weight: lighter;
  line-height:3.3rem;
  text-align: left;
}

h3 {
  color: #555C6E;
  font-family: 'Fira Sans';
  font-size: 2.8rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
}

h4 {
  color: #555C6E;
  font-family: 'Fira Sans';
  font-size: 2.2rem;
  padding-bottom: 1.5rem;
  font-weight: 800;
}


h5 {
  color: #555C6E;
  font-family: 'Fira Sans';
  font-size: 2rem;
  padding: 2rem 0;
}

h6 {
  color: #3B3B3B;
  font-family: 'Didact Gothic';
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: center;
}

p {
  color: #4f4f4f;
  font-family: 'Didact Gothic';
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: left;
}

img {
  margin: auto;
  padding: 3rem 0;
  width: 100%;
}

.phonepic {
  width: 70%;
}

.persona-one, .persona-two {
  margin: 0 auto;
  width: 70%;
}

.color-small {
  width: 75%;
  margin: auto;
}

.button {
  background-color: #2BAF9E;
  border-radius: 3rem;
  color: white;
  display: inline-block;
  font-family: 'Didact gothic';
  font-size: 1.8rem;
  padding: 2rem 4rem;
}

/*avatar picture on homepage*/
.hero-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*text in blue divs*/
.list-items {
  background-color: #C8D8E8;
  border-radius: .8rem;
  margin: 2.5rem 0;
  padding: 2rem;
  text-align: center;
}

/*project background color on homepage*/
.therashelf {
  background-color: #C8D8E8;
  text-align: center;
}

/*spacing for responsbilities section*/
.tools, .deliverables, .take-aways, .final-thoughts {
  padding: 3rem 0 0;
}

.myrole, .deliverables, .tools{
  text-align: center;
}

.responsibilities{
  background-color: #C8D8E8;
}

.conclusion {
  background-color: #C8D8E8;
}

/*footer styling begins*/
footer {
  color: white;
  background-color: #555C6E;
  grid-area: footer;
  padding: 2rem 3rem;
}

/*center footer slogan*/
footer h4 {
  text-align: center;
  color: white;
  font-family: 'Fira Sans';
}

footer p {
  color: white;
}

/*footer icon styling*/
.fa-linkedin, .fa-github-square, .fa-envelope-square {
  color: #BFE3DB;
  padding-top: 2rem;
}

ul {
  font-size: 4rem;
  text-align: center;
}

li {
  display: inline-block;
}

.location {
  padding-top: 1.5rem;
}

/*hidden for large screens*/
.wireframes-large, .color-large {
  display: none;
  }

/*mobile screen*/
.wireframes-small, .color-small {
  display: block;
}

/*spacing between sections*/
.user-testing, .user-stories {
  padding-top: 0;
}


/*responsive navbar begin*/
nav {
    background-color: #fafafa;
    padding: 0 5rem;
}

.logo {
    color: #555C6E;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    display: inline-block;
    padding-top: 2.5rem;
}

nav ul {
    float: right;
    padding-right: 2rem;
}

nav ul li {
    color: #555C6E;
    font-family: 'Didact gothic', sans-serif;
    font-size: 2.4rem;
    padding-left: 2rem;
}

a {
    text-decoration: none;
    color: #555C6E;
}

/*hamburger icon*/
.fa-bars {
  color: #3E4457
}

/*hidden for desktop*/
.checkbtn {
    color: white;
    font-size: 2.5rem;
    float: right;
    display: none;
}

#check {
    display: none;
}

/*responsive nav bar media mobile*/
@media (max-width: 760px) {
  .checkbtn {
  display: block;
}

/*opened menu*/
nav ul {
  position: fixed;
  width: 100%;
  height: 50%;
  background-color: #EDF1F4;
  text-align: center;
  padding-top: 3rem;
  top: 8.5rem;
  right: -100%;
  transition: all .5s;
}

nav ul li {
  display: block;
  font-size: 3rem;
}

#check:checked ~ ul{
  right: 0;
  }
}

/*media queries begin for tablet*/
@media (min-width:768px) {

section {
  padding: 5rem;
  text-align: center;
}

.therashelf p {
  font-size: 2rem;
  width: 75%;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

.intro {
  grid-column: 1/8;
  grid-row: 1;
  text-align: left;
}

.hero-image {
  grid-column: 8/13;
  grid-row: 1;
  padding: 2rem 0 0 2rem;
  width: 100%;
}

/*grid for therashelf intro (project 1)*/
.therashelf {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

.overview{
  grid-column: 2/9;
  grid-row: 2/3;
  text-align: left;
}

.phonepic {
  grid-column: 9/13;
  grid-row: 1/5;
  max-width: 100%;
  padding: 0;
}

.button {
  font-size: 2rem;
  grid-column: 2/7;
  grid-row: 4/5;
}

/*footer styling tablet*/
.footer {
  width: 100%;
  text-align: center;
  padding: 3rem;
}

.closing-info {
  display: inline-block;
  margin: 0 auto;
  width: 57%;
}

/*project 1 styling*/

/*roles,deliverables, tools section */
.responsibilities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.myrole {
  grid-column: 1;
}

.deliverables {
  grid-column: 2;
  padding: 0;
}

.tools {
  grid-column: 3;
  padding: 0;
}

/*resizing*/
.charts, .feature-ranking {
  width: 65%;
  margin: auto;
}

.therashelf-solution {
  padding: 3rem 3rem 0 3rem;
}

/*persona section*/
.personas {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.intro-content {
  grid-column: 1/13;
  grid-row: 1;
}

.persona-one {
  grid-column: 2/6;
  grid-row: 2;
}

.persona-two {
  grid-column: 7/11;
  grid-row: 2;
}

/*wireframe resizing*/

.wireframes-large, .color-large {
  display: block;
  margin: 0 auto;
}

.wireframes-small, .color-small {
  display: none;
}

.list-items, .survey-images, .flow-image {
  width: 70%;
  margin: 3rem auto;
}

.competitor-logos {
  margin: 0 auto;
  width: 30%;
}

.list-items p {
  font-size: 2rem;
}

.revisions, .color-large {
  width: 80%;
}

.conclusion h3, .surveys h3 {
  padding-bottom: 3.5rem;
}

/*increase icon size on footer*/
ul {
  font-size: 5rem;
  text-align: center;
  }
}

/*media query for desktop*/
@media (min-width:1280px) {

section {
  padding: 5rem 10rem;
  text-align: center;
}

h1 {
  font-size: 4.8rem;
  padding-bottom: 2rem;
  text-align: left;
}

h2 {
  color: #4f4f4f;
  font-size: 3rem;
  line-height: 4.6rem;
  text-align: left;
}

h3 {
  font-size: 4.2rem;
}

h4 {
  font-size: 2.8rem;
}

p {
  padding: 0 15rem;
}

.logo {
  font-size: 2.5rem;
}

/*grid for hero content*/
.hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.intro {
  grid-column: 2/7;
}

.hero-image {
  grid-column: 7/12;
  width: 100%;
}

.location {
  padding-top: 2.5rem;
}

.therashelf p {
  font-size: 2.7rem;
  line-height: 4rem;
  text-align: left;
  padding: 0 0 4rem 0;
}

/*grid for project 1 summary*/
.therashelf {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

.overview{
  grid-column: 2/8;
}

.phonepic {
  grid-column: 9/12;
  grid-row: 1/6;
  max-width: 95%;
  padding: 0;
}

.button {
  font-size: 2.2rem;
  grid-column: 1/7;
  grid-row: 3/4;
  margin: 0 auto;
}

footer p {
  font-size: 2rem;
  width: 58%;
  margin: 0 auto;
  padding: 0;
}

/*project 1 desktop*/

/*resizing*/
.therashelf-preview, .therashelf-solution {
  margin: 0 auto;
  width: 75%;
}

.revision, .typography, .color-large, .wireframes-large {
  margin: 0 auto;
  width: 70%;
}

/*image resizing*/
.competitor-logos, .survey-images, .flow-image {
  width: 50%;
  margin: 0 auto;
}

.closing-info {
  display: inline-block;
  margin: 0 auto;
  padding: 2rem 0;
  width: 65%;
  }

/*increase icon size on footer*/
ul {
  font-size: 6rem;
  text-align: center;
  }
}
